$vuexy-primary:#f8f7fa;
$vuexy-secondary: #7367f0;
$vuexy-bg: white;
$top-h1: #5d596c;
$sidebaar-h1: #5d596c;
$p-color: #5d596c;
$vuexy-button-color: #ea5455;
$primary:#5ac8fa;
$green:#28c76f;
$sky-blue:#00cfe8;
$light-bg:rgb(240, 240, 240);